.body {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
}

 @media screen and (min-width: 650px){
    .layout {
        width: 50%;
    }
 
    .layout-canvas {
        height: 50%;
        width: 100%;
        display: flex;
    }
 
    .layout-right-side {
        width: 70%;
    }
 
    .layout-left-side {
        display: block;
        height: 100%;
        width: 30%;
        background-color: darkgray;
    }
 
    .layout {
        width: 50%;
    }
 
    .layout-canvas {
        height: 50%;
    }
 }
 