.container {
  display: flex;
  flex-direction: column;
  background-color: #e2e2e2;
  height: 50%;
  padding: 20px;
  overflow-y: scroll;
}

.elements {
  height: 100%;
  width: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  border: 1px solid darkgrey;
  padding:10px 10px 0 10px;
}
