.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 400px;
}

.item {
    max-width: 250px;
}

.left {
    align-self: flex-start;
}

.right {
    align-self: flex-end;
}