.MessageChat {
    background-color: lightgray;
    padding: 20px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.Message {
    background-color: lightskyblue;
    padding: 10px;    
    width: 30%;
    border-radius: 5px;
    border: 1px solid darkgray;
}

.Message:not(:last-child) {
    margin-bottom: 20px;
}

.left {
    align-self: flex-start;
  }
  
  .right {
    align-self: flex-end;
  }